# REDIS CONFIG
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=movie_catalog
REDIS_PASSWORD=replace-with-a-secure-password

# OPEN API CONFIG
SPRINGDOC_API_DOCS_ENABLED=true
SPRINGDOC_SWAGGER_UI_ENABLED=true

# TMDB CONFIG
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_ACCESS_TOKEN=replace-with-your-tmdb-access-token
